<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c026c5ada5.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Easy Class</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar rounded-circle" th:src="@{${teacher.userPhoto}}" alt="User Avatar" width="30" height="30">
                        <span th:text="${teacher.username}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#classes-content" class="list-group-item list-group-item-action active" data-toggle="tab">
                    <span class="fa-solid fa-check mr-2" style="color: #00ff06;"></span>
                    Booked Classes
                </a>
                <a href="#requests-content" class="list-group-item list-group-item-action" data-toggle="tab">
                    <span class="fa fa-thin fa-list mr-2" style="color: #ff5800"></span>
                    Pending Requests
                </a>
                <form th:action="@{/teacher/toggleAvailability}" method="post" class="mt-2">
                    Toggle Availability:
                    <button type="submit" class="btn btn-toggle" th:class="${availability} ? 'btn btn-toggle btn-success' : 'btn btn-toggle btn-danger'"
                            th:text="${availability} ? 'Available' : 'Busy'">
                    </button>
                </form>

            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div id="classes-content" class="tab-pane fade show active">
                    <h1>Booked Classes</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Student</th>
                            <th>Class Date</th>
                            <th>Class Time</th>
                            <th>Subject</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bookedClass : ${accepted}">
                            <td class="px-0"><img class="avatar rounded-circle" th:src="@{${bookedClass.student.userPhoto}}" alt="User Avatar" width="30" height="30"></td>
                            <td th:text="${bookedClass.student.firstName + ' ' + bookedClass.student.lastName}"></td>
                            <td th:text="${bookedClass.classDate}"></td>
                            <td th:text="${bookedClass.classTime}"></td>
                            <td th:text="${bookedClass.subject}"></td>
                            <td>
                                <div class="d-flex">

                                </div>
                                <form th:action="@{/classAction}" method="post">
                                    <input type="hidden" name="requestId" th:value="${bookedClass.id}" id="requestId">
                                    <button class="btn btn-danger" type="submit" name="cancelBtn"><span class="fas fa-times fa-solid"></span></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="requests-content" class="tab-pane fade">
                    <h1>Pending Requests</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Student</th>
                            <th>Class Date</th>
                            <th>Class Time</th>
                            <th>Subject</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${pending}">
                            <td class="px-0"><img class="avatar rounded-circle" th:src="@{${request.student.userPhoto}}" alt="User Avatar" width="30" height="30"></td>
                            <td th:text="${request.student.firstName + ' ' + request.student.lastName}"></td>
                            <td th:text="${request.classDate}"></td>
                            <td th:text="${request.classTime}"></td>
                            <td th:text="${request.subject}"></td>
                            <td>
                                <form th:action="@{/classAction}" method="post">
                                    <input type="hidden" name="requestId" th:value="${request.id}" id="requestId">
                                    <button th:if="${!request.countered}" class="btn btn-success" type="submit" name="acceptBtn"><span class="fas fa-check fa-solid"></span></button>
                                    <button th:if="${!request.countered}" type="button" name="counterBtn" class="btn btn-warning" data-toggle="modal" data-target="#counterModal" th:data-bc-id="${request.id}" >
                                        <span class="fas fa-solid fa-reply"></span>
                                    </button>
                                    <button class="btn btn-danger" type="submit"><span class="fas fa-times fa-solid"></span></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="counterModal" tabindex="-1" role="dialog" aria-labelledby="counterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="counterModalLabel">Counter Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your form elements here for selecting date and time -->
                <form th:action="@{/counterClass}" method="post">
                    <input type="hidden" name="classID" id="classID" />
                    <!-- Date input -->
                    <div class="form-group">
                        <label for="counterDate">Date:</label>
                        <input type="date" class="form-control" id="counterDate" name="counterDate">
                    </div>
                    <!-- Time input -->
                    <div class="form-group">
                        <label for="counterTime">Time:</label>
                        <input type="time" class="form-control" id="counterTime" name="counterTime">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $('#counterModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var classID = button.data('bc-id');
        $('#classID').val(classID);
    });

</script>
</body>
</html>
